/* common styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    padding: 15px 30px;
    border: none;
}

.section-title {
    color: #272727;
    font-size: 35px;
    font-weight: 900;
    text-align: center;
}

.section-text {
    color: rgba(39, 39, 39, 0.60);
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    margin: 20px 0 40px;
    text-align: center;
}

.primary {
    color: #E55473;
}

/* banner section */
.banner {
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 50px 200px 0;
    background-color: rgba(229, 84, 115, 0.10);
    height: 578px;
}

.banner-text-title {
    color: #272727;
    font-size: 50px;
    font-weight: 900;
}

.banner-text-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    margin: 25px 0;
}

.banner-img {
    width: 420px;
}

/* featured section */
.featured-text {
    text-align: center;
    margin-top: 120px;
}

.featured-flowers {
    display: flex;
    gap: 25px;
    margin: 0 180px;
    align-items: center;
}

.flower-title {
    color: #272727;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 100px;
}

.flower-left-right {
    width: 225px;
    position: absolute;
    bottom: 0;
    left: 45px;
}

.flower-middle {
    width: 275px;
    position: absolute;
    top: 90px;
    left: 35px;
}

.flower-1,
.flower-2,
.flower-3 {
    width: 312px;
    height: 400px;
    border-radius: 300px 300px 0px 0px;
    position: relative;
}

.flower-1 {
    background-color: rgba(167, 33, 98, 0.15);
}

.flower-2 {
    background-color: rgba(5, 151, 160, 0.15);
}

.flower-3 {
    background-color: rgba(71, 125, 17, 0.15);
}

/* service section */
.service-container {
    margin: 0 180px 100px;
    border-radius: 8px;
    background-color: rgba(39, 39, 39, 0.05);
    display: flex;
    padding: 60px 100px;
    gap: 100px;
}

.service {
    text-align: center;
}

.service-icon {
    width: 70px;
    height: 70px;
}

.service-icon-title {
    color: rgba(39, 39, 39, 0.80);
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
}

/* offer section */
.offer-container {
    border-radius: 8px;
    background-color: rgba(229, 84, 115, 0.05);
    display: flex;
    align-items: center;
    gap: 150px;
    padding: 60px 225px;
    margin-bottom: 100px;
}

.offer-left {
    max-width: 500px;
    text-align: center;
}

.offer-img {
    width: 250px;
}

/* instagram section */
.insta {
    margin: 0 180px 100px;
}

.insta-text {
    text-align: center;
    max-width: 485px;
    margin: auto;
}

.insta-images {
    display: flex;
    gap: 20px;
}

.image {
    width: 232px;
    height: 280px;
}

/* deal section */
.deal {
    background-image: url('../assets/Rectangle\ 9.png');
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin: 0 180px 100px;
    padding: 60px 200px;
}

.deal-subscribe {
    display: flex;
    align-items: center;
    gap: 15px;
}

.deal input[type="email"] {
    width: 420px;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    border: none;
}

/* contact section */
.contact-container {
    background-image: url('../assets/contact-bg 2.jpg');
    background-position: center;
    background-size: cover;
    margin-top: 50px;
    border-radius: 10px;
    display: flex;
    padding: 50px 150px;
    align-items: center;
    gap: 200px;
}

.contact-container ul {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.contact-container ul li {
    list-style: none;
}

.contact-left {
    max-width: 600px;
    text-align: center;
}

.contact-right {
    width: 100%;
}

.contact-left-title {
    color: #272727;
    font-size: 30px;
    font-weight: 900;
}

.contact-text {
    color: #c4284a;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    margin: 20px 0 30px;
}

.contact-right-title {
    color: #272727;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 20px;
}

.contact-right input[type="text"],
input[type="email"],
textarea {
    border: none;
    border-radius: 8px;
    padding: 18px;
    background-color: white;
    width: 100%;
    margin-bottom: 10px;
}

/* footer section */
footer {
    background: #111010;
}
.footer-container {
    max-width: 550px;
    margin: auto;
    padding: 50px;
}

.footer-title {
    color: white;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
}

.footer-text {
    color: rgba(255, 255, 255, 0.90);
    font-size: 14px;
    line-height: 25px;
}

.copyright {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 12px;
}